.btnFacebook {
    background: #4267b2;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    font-family: "HelveticaNeue-Light", sans-serif;

}